@page
@model RazorShop2.Pages.ThankYouModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style6.css" rel="stylesheet" asp-append-version="true" />
    <title>ThankYou</title>
</head>
<body>
    <div class="container-fluid" id="ThankYouDiv">
        Thank you for your purchase!
    </div>
</body>
</html>
