@font-face {
    font-family: semiautomatic;
    src: url("/lib/BilboINC.ttf");
}


body {
    background: url("/lib/jcole.jpg");
    background-color: black;
    
    background-size: cover;
  
    background-repeat: no-repeat;
}

#ThankYouDiv{
    margin-left:25%;
    justify-content:center;
    text-align:center;
    width:50%;
    background-color:black;
    opacity:0.85;
    color:white;
    font-family:semiautomatic;
    font-size:80px;
}